{% extends 'application/base.html' %}

{#{% block content %}#}
{##}
{#    <div class="jumbotron">#}
{#        <h2>客户端管理</h2>#}
{#        <p>查看已经在系统中注册的客户端，以及对系统中客户端的管理</p>#}
{#        <p>#}
{#            <small>1. 客户端的ID和密钥均为随机生成</small>#}
{#        </p>#}
{#        <p>#}
{#            <small>2. 客户端的授权类似是implicit或authorization-code时，授权回调地址是必填的！</small>#}
{#        </p>#}
{#        <p><a class="btn btn-primary " href="#" role="button">添加新客户端</a></p>#}
{#    </div>#}
{##}
{#    <table class="table table-bordered table-hover">#}
{#        <thead>#}
{#        <tr>#}
{#            <th class="text-center" width="15%">名称</th>#}
{#            <th class="text-center" width="10%">客户端类型</th>#}
{#            <th class="text-center" width="10%">授权类型</th>#}
{#            <th class="text-center">说明</th>#}
{##}
{#            <th class="text-center" width="140px">操作</th>#}
{#        </tr>#}
{#        </thead>#}
{##}
{#        <tbody>#}
{#        {% for a in applications %}#}
{#            <tr>#}
{#                <td> {{ a.client_name }}</td>#}
{#                <td>{{ a.client_type }}</td>#}
{#                <td>{{ a.authorization_grant_type }}</td>#}
{#                <td>{{ a.remark }}</td>#}
{#                <td>#}
{#                    <a class="btn btn-info btn-sm" href="{% url 'oauth_pen:update' 1 %}">详情 </a>#}
{#                    <e class="vertical_line"></e>#}
{#                    <a class="btn btn-danger btn-sm" href="{% url 'oauth_pen:detail'  a.client_id %}">删除 </a>#}
{#                </td>#}
{#            </tr>#}
{#        {% endfor %}#}
{##}
{#        </tbody>#}
{#    </table>#}
{##}
{#{% endblock %}#}

{% block content %}
    <div class="layui-container">
        <table class="layui-hide" id="app_list" lay-filter="applications"></table>
        <script type="text/html" id="app_action">
            <a class="layui-btn layui-btn-primary layui-btn-xs"
               lay-id={% verbatim %}{{ d.client_id }}{% endverbatim %} lay-event="detail">查看</a>
            <a class="layui-btn layui-btn-xs"
               lay-id={% verbatim %}{{ d.client_id }}{% endverbatim %} lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger  layui-btn-xs"
               lay-id={% verbatim %}{{ d.client_id }}{% endverbatim %} lay-event="del">删除</a>
        </script>
    </div>
{% endblock %}